<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>new minx</title>
</head>
<body>
    <div class="container-fluid">
        <h2>add a minx</h2>
        <form action="/minx" method="post">
            <div class="form-group">
            <label for="name">name:</label>
            <input type="text" name="name">
            </div>
            <div class="form-group">
            <label for="weight">weight:</label>
            <input type="text" name="weight">
            </div>
            <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add minx.">
            </div>
        </form>
        <a href="/"><button class="btn btn-primary">cancel</button></a>
        <% if(typeof(errors) != 'undefined') { %>
            <% for (var x in errors) { %>
            <h3><%= errors[x].message %></h3>
            <% } %>
        <% } %>
    </div>
</body>
</html>